.container {
  display: grid;
  place-items: center;
}

.list {
  @extend .container;

  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
}

.listColumnSpan {
  grid-column: 1 / -1;
}

.firstColumn {
  grid-column: 1;
}

.lastColumn {
  grid-column: -1;
}

.headerPush {
  margin-left: auto;
  margin-right: 12px;
}

.listHeader {
  @extend .listColumnSpan;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rowFix {
  @extend .listHeader;
}

.listItem {
  display: contents;
}

.labelPush {
  margin-left: 24px;
}

.listEnter {
  opacity: 0;
}

.listEnterActive {
  opacity: 1;
  transition: opacity var(--duration);
}

.listExit {
  opacity: 1;
}

.listExitActive {
  opacity: 0;
  transition: opacity var(--duration);
}
