.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 12px;
}

.headerPush {
  margin-left: auto;
  margin-right: 12px;
}

.listHeader {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  width: 100%;
}

.listEmpty {
  grid-column: 1 / -1;
}

.listItem {
  display: contents;
}

.labelPush {
  margin-left: 24px;
}

.listEnter {
  opacity: 0;
}

.listEnterActive {
  opacity: 1;
  transition: opacity var(--duration);
}

.listExit {
  opacity: 1;
}

.listExitActive {
  opacity: 0;
  transition: opacity var(--duration);
}
